body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(211, 211, 211);
}

.cover {
  width: 100%;
  height: auto;
  background-size: cover;
}

nav {
  background-color: rgb(30, 30, 30);
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo img {
  max-height: 70px;
}

li.bg-light {
  margin-left: 30px;
}

a.black-text {
  color: #1e1e1e !important;
}